/* Reset básico e configuração inicial */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
  background: #1d1f21;
  color: #c5c6c7;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.container {
  text-align: left;
}

h1 {
  color: #66fcf1;
  font-size: 4.5rem;
  margin-bottom: 0.8rem;
}

p {
  color: #c5c6c7;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

a {
  color: #45a29e;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #66fcf1;
}

/* Estilos para dispositivos móveis */
@media (max-width: 475px) {
  body {
    background: #0b0c10;
  }

  p {
    color: #93d479;
    font-size: 1.2rem;
  }

  h1 {
    color: #f33426;
    font-size: 2.8rem;
  }

  a {
    color: #797776;
    font-size: 1rem;
  }

  a:hover {
    color: #91918a;
  }
}
