* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
  background: rgb(17, 17, 17);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  color: rgb(228, 189, 16);
}

p {
  color: rgb(231, 230, 222);
}

@media (max-width: 475px) {
  body {
    background: rgb(6, 0, 12);
  }
  p {
    color: rgb(142, 194, 74);
    font-size: 1.2rem;
  }

  h1 {
    color: rgb(236, 114, 44);
    font-size: 2.8rem;
  }
}
